{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    <!-- home section design-->
    <section class="home" id="home">
        <div class="home-content">
            <h3>Rise & Shine</h3>
            <h1>Beauty Salon</h1>
            <p>Salonul nostru vrea să ofere mereu aceeași calitate a serviciilor. Știm exact ce
avem de făcut din momentul în care te–ai așezat pe scaun, avem standarde și
proceduri de lucru precise. De asemenea programările și sesiunea de tuns sunt
optimizate pentru eliminarea perioadelor de așteptare. Fiecare vizită la noi îţi va
aduce un plus de încredere, o tunsoare plăcută și un vibe pozitiv.</p>
            <div class="social-media">
                <a href="#" style="--i:7;"><i class='bx bxl-facebook'></i></i></a>
                <a href="#" style="--i:8;"><i class='bx bxl-instagram' ></i></a>
                <a href="#" style="--i:9 ;"><i class='bx bxl-linkedin-square' ></i></a>
            </div>
            <a href="#" class="btn">Nu mai sta pe ganduri si programeaza-te online.</a>
        </div>

        <div class="home-img">
            <img src="../static/img/Subiect.png" alt="">
        </div>
    </section>
{% endblock %}