{% extends 'base.html' %}

{% block title %} Creaza un nou serviciu {% endblock %}

{% block content %}
     <div class="container-fluid">
     <div class="row">
         <div class="col-md-6 offset-md-3">
             <div class="card">
                 <div class="card-header">
                     <h3 class="text-center">Creaza un nou serviciu </h3>
                 </div>
                 <form method="post">
                     {% csrf_token %}
                     <div class="card-body">
                         {{ form.as_p }}
                     </div>
                     <div class="card-footer text-center">
                         <button type="submit" class="btn btn-succcess">Salveaza</button>
                     </div>
                 </form>
             </div>
         </div>
     </div>
     </div>
{% endblock %}