{% extends 'base.html' %}

{% block title %} Creaza un nou serviciu {% endblock %}

<br><br><br><br>

{% block content %}


    <section class="contact" id="contact">
        <h2 class="heading">Creare <span>serviciu </span></h2>
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                {{ form.as_p }}
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </section>
{% endblock %}