{% extends 'base.html' %}
{% block title %} List of services {% endblock %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    {% if all_services %}
                        <table class="tabela">
                            <thead>
                            <tr>
                                <th> Nume Serviciu</th>
                                <th> Pret</th>
                                <th> Angajat</th>
                                <th>Actiune</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for service in all_services %}
                                <tr>
                                    <td>{{ service.name_of_service }}
                                    </td>
                                    <td>{{ service.price }}
                                    </td>
                                    <td>{{ service.employee }}</td>
                                    <td><a href="{% url 'update-service' service.id %}" type="button"
                                           class="btn btn-primary">
                                        {#                                    <i></i>#}Update
                                    </a>
                                    </td>
                                    <td><a href="{% url 'delete-service' service.id %}" type="button"
                                           class="btn btn-primary">
                                        {#                                    <i></i>#}Delete
                                    </a>
                                    </td>
                                    <td><a href="{% url 'details-service' service.id %}" type="button"
                                           class="btn btn-primary">
                                        {#                                    <i></i>#}View details
                                    </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h3 class="text-center">No services</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}