{#{% extends 'base.html' %}#}
{##}
{#{% block title %} Rezervare Angajat {% endblock %}#}
{##}
{#{% block content %}#}
{#    <!-- Formular pentru alegerea angajatului -->#}
{#    <form method="POST">#}
{#        {% csrf_token %}#}
{#        <label for="employee">Alegeți angajatul:</label>#}
{#        <select name="employee" id="employee">#}
{#            {% for employee in all_employees %}#}
{#                <option value="{{ employee.id }}">{{ employee.name }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#        <button type="submit">Continuă</button>#}
{#    </form>#}
{#{% endblock %}#}