{% extends 'base.html' %}

{% block title %} Rezervare {% endblock %}

{% block content %}
    <br><br><br>
    <section>
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
             tabindex="0">
            {% for service in all_services %}
                <div class="row">
                <span class="col-md-1 offset-md-3">
                    <input type="checkbox"/>
                </span>
                    <span class="col-md-4">
                        <h4 id="scrollspyHeading1" style="font-size: 17px"><b>{{ service }}</b></h4>
                </span>
                    <span class="col-md-4">
                        <p style="font-size: 15px"><b>{{ service.price }}</b> RON</p>
                </span>
                </div>
            {% endfor %}
        <br>
        <div style="text-align: center;">
        <a href="#" class="btn btn-secondary">Alege specialistul</a>
        </div>
        </div>
    </section>

{% endblock %}