{% extends 'base.html' %}

{% block title %} Update - {{ service }} {% endblock %}

<br><br><br><br>

{% block content %}


    <section class="contact" id="contact">
        <h2 class="heading">Update - <span>{{ service }} </span></h2>
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                {{ form.as_p }}
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-success">Save</button>
                <a href="{% url 'list-of-services' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </section>
{% endblock %}