{% extends 'base.html' %}

{% block title %} Sign up {% endblock %}

{% block content %}
    <section class="login-wrapper">
{#        <div class="container">#}
            <div class="login-wrapper">
                <div class="login-box">
                    <h3 class="text-center"> Sign up</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-box">
                           {{ form.first_name }}
                            <label for="{{ form.first_name.id_for_label }}">First name</label>
                        </div>
                                                <div class="input-box">
                           {{ form.last_name }}
                            <label for="{{ form.last_name.id_for_label }}">Last name</label>
                        </div>
                        <div class="input-box">
                            {{ form.email }}
                            <label for="{{ form.email.id_for_label }}">Email</label>
                        </div>
                        <div class="input-box">
                            {{ form.password1 }}
                            <label for="{{ form.password1.id_for_label }}">Password</label>
                        </div>
                        <div class="input-box">
                            {{ form.password2 }}
                            <label for="{{ form.password2.id_for_label }}">Password</label>
                        </div>
                        <div class="forgot-pass">
                            <a href="#">Forgot your password?</a>
                        </div>
                        <button type="submit" class="btn-login">Login</button>
                        <div class="signup-link">
                            <p>Already have an account? <a href="#" class="signIN-link">Sign in</a></p>
                        </div>
                    </form>
{#                    <form method="post">#}
{#                        {% csrf_token %}#}
{#                        <div class="card-body">#}
{#                            {{ form.as_p }}#}
{#                        </div>#}
{#                        <div class="card-footer text-center">#}
{#                            <button type="submit" class="btn btn-outline-secondary">Create</button>#}
{#                        </div>#}
{#                    </form>#}

                </div>
            </div>
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:8;"></span>
            <span style="--i:9;"></span>
            <span style="--i:10;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:13;"></span>
            <span style="--i:14;"></span>
            <span style="--i:15;"></span>
            <span style="--i:16;"></span>
            <span style="--i:17;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:21;"></span>
            <span style="--i:22;"></span>
            <span style="--i:23;"></span>
            <span style="--i:24;"></span>
            <span style="--i:25;"></span>
            <span style="--i:26;"></span>
            <span style="--i:27;"></span>
            <span style="--i:28;"></span>
            <span style="--i:29;"></span>
            <span style="--i:30;"></span>
            <span style="--i:31;"></span>
            <span style="--i:32;"></span>
            <span style="--i:33;"></span>
            <span style="--i:34;"></span>
            <span style="--i:35;"></span>
            <span style="--i:36;"></span>
            <span style="--i:37;"></span>
            <span style="--i:38;"></span>
            <span style="--i:39;"></span>
            <span style="--i:40;"></span>
            <span style="--i:41;"></span>
            <span style="--i:42;"></span>
            <span style="--i:43;"></span>
            <span style="--i:44;"></span>
            <span style="--i:45;"></span>
            <span style="--i:46;"></span>
            <span style="--i:47;"></span>
            <span style="--i:48;"></span>
            <span style="--i:49;"></span>


{#        </div>#}
    </section>

{% endblock %}
