{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de produse{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="product-list">
                {% for item in cart_items %}
                <div class="col-md-4 product-item">
                    <div class="card">
                        <a href="{% url 'details' item.produs.id %}" class="cursor-pointer no-underline">
                            <img class="produs img-fluid" src="{% static item.produs.image.url %}"
                                class="card-img-top" style="width: 30%; height: auto;">
                            <span>Quantity: {{ item.quantity }}</span>
                        </a>
                        <div class="card-body">
                            <a href="{% url 'details' item.produs.id %}" class="cursor-pointer no-underline">
                                <h5 class="card-title small">{{ item.produs.name }}</h5>
                                <p class="card-text small">Pret: {{ item.produs.price }} RON</p>
                            </a>
                        </div>
                        <div class="card-footer">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <form method="post" action="{% url 'delete' item.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-primary me-2">Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="container cart-sidebar">
                <div id="root"></div>
                <div class="sidebar">
                    <div class="head">
                        <p>Cosul meu</p>
                    </div>
                    {% if cart_items %}
                    <div id="cartItem">Your cart contains {{ cart_items|length }} items</div>
                    {% else %}
                    <div id="cartItem">Your cart is empty</div>
                    {% endif %}

                    <div class="foot">
                        <h3>Total</h3>
                        <h2 id="total">RON {{ total }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}

{% endblock %}
<script src="{% static 'js/my_script.js' %}"></script>
