{% extends 'base.html' %}

{% block title %}Lista de produse{% endblock %}

{% block content %}
     <div class="container-fluid">
    <section class="contact">
            <div class="row" style="z-index:-1;">
                <div class="col-md-2">
                    {% include './vertical_navbar.html' %}
                </div>
                <div class="col-md-8">
                    <div class="row">
                        {% for product_key, product in products.items %}
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <img class="produs" src="{{ product.image }}" class="card-img-top"
                                         alt="Product Image">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">Pret: {{ product.price }} RON</p>
                                        <p class="card-text">Cantitate: {{ product.quantity }} ml</p>
                                        <p class="card-text">Descriere: {{ product.description }}</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </section>
 </div>
{% endblock content %}
