{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de produse{% endblock %}

{% block content %}
<div class="container-fluid">
  <section class="contact">
    <div class="row" style="z-index: -1;">
      <div class="col-md-2">
        {% include './vertical_navbar.html' %}
      </div>
      <div class="col-md-8">
        <div class="row">
          {% for product in products %}
          <div class="col-md-4 mb-4">
             <div class="card">
              <a href="{% url 'details' product.id %}" class="cursor-pointer no-underline">
                <img class="produs img-fluid" src="{% static product.image.url %}" class="card-img-top"  alt="Image">
              </a>
              <div class="card-body">
                <a href="{% url 'details' product.id %}" class="cursor-pointer no-underline">
                  <h5 class="card-title small">{{ product.name }}</h5>
                  <p class="card-text small">Pret: {{ product.price }} RON</p>
                </a>
              </div>
              <div class="card-footer">
                <div class="row align-items-center">
                  <div class="col">
                    <select class="form-select form-select-sm">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <!-- Add more options here -->
                    </select>
                  </div>
                  <div class="col-auto">
                    <a href="{% url 'details' product.id %}" class="btn btn-sm btn-primary me-2">Detalii</a>
                    <button type="button" class="btn btn-sm btn-primary add-to-cart" data-product-id="{{ product.id }}">Adauga in cos</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
