{% extends 'base.html' %}
{% load static %}

{% block title %}Detalii produs{% endblock %}

{% block content %}
    <div class="container-fluid">
        <section class="contact">
            <div class="row" style="z-index:-1;">
                <div class="col-md-2">
                    {% include './vertical_navbar.html' %}
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <img class="produs" src="{% static product.image.url %}" class="card-img-top" alt="Image">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">Pret: {{ product.price }} RON</p>
                                    <p class="card-text">Cantitate: {{ product.quantity }} ({{ product.um }})</p>
                                    <p class="card-text">Descriere: {{ product.description }}</p>
                                </div>
                                    <div class="add-cart mb-4"><a href="" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
