{% extends 'base.html' %}
{% load static %}

{% block title %}Detalii produs{% endblock %}

{% block content %}
    <div class="container-fluid">
        <section class="contact">
            <div class="row" style="z-index:-1;">
                <div class="col-md-2">
                    {% include './vertical_navbar.html' %}
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <img class="produs" src="{% static product.image.url %}" alt="Image">
                            <div class="product-details">
                                <h5 class="product-name">{{ product.name }}</h5>
                                <p class="product-price">Pret: {{ product.price }} RON</p>
                                <p class="product-quantity">Cantitate: {{ product.quantity }} ({{ product.um }})</p>
                                <p class="product-description">Descriere: {{ product.description|linebreaks }}</p>
                            </div>
                            <div class="add-cart mb-4">
                                <a href="{% url 'addcart' request.user.id product.id %}" class="btn btn-primary">Adauga in cos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
