    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'shop' %}">Ingrijire par</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'barba' %}">Ingrijire barba</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accesorii' %}">Accesorii si ustensile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
