{% extends 'base.html' %}


{% block content %}
{##}
{#  <section class="contact" id="contact">#}
{#  <div class="row justify-content-center">#}
{#    <div class="col-md-4">#}
{#      <div class="card">#}
{#        <div class="card-header">#}
{#          <h1 class="text-center">Contact us</h1>#}
{#        </div>#}
{#        <div class="card-body">#}
{#          <form method="post">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <button type="submit" class="btn btn-primary">Send</button>#}
{#          </form>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#  </section>#}
<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me! </span></h2>

    <form action="#">
        <div class="input-box">
            <input type="text" placeholder="Full Name">
            <input type="email" placeholder="Email Adress">
        </div>
        <div class="input-box">
            <input type="number" placeholder="Mobile Number">
            <input type="text" placeholder="Email Subject">
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <input type="submit" value="Send Message" class="btn">
    </form>
</section>



{% endblock content %}


