{% extends 'base.html' %}
{% block title %} List of employees {% endblock %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">
                            Filters
                        </h3>
                    </div>
                    <form method="get">
                        <div class="card-body">
                            {{ form_filters.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Filters</button>
                            <a href="{% url 'list-of-employees' %}" class="btn btn-outline-danger">Reset</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-9">
                {#                {{ current_datetime }}#}
                {#                {% for trainer in get_all_trainers %}#}
                {#                    <p>{{ trainer.first_name }} {{ trainer.last_name }} {{ trainer.course }}</p>#}
                {##}
                {#                {% endfor %}#}
                {% if all_employees %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th> First Name</th>
                            <th> Last Name</th>
                            <th> Email</th>
                            <th> Status</th>
                            <th> Start date</th>
                            <th> Name of trainer</th>
                            <th> Course</th>
                            <th> Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for employee in all_employees %}
                            <tr>
                                <td>{{ employee.first_name }}</td>
                                <td>{{ employee.last_name }}</td>
                                <td>{{ employee.email }}</td>
                                <td>{% if employee.active %} Active {% else %} Inactive {% endif %}</td>
                                <td>{{ employee.start_date|date:"d/m/Y" }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            More Actions
                                        </button>
                                        <ul class="dropdown-menu">

                                            <li><a class="dropdown-item" href="{% url 'update-employee' employee.id %}">Update</a>
                                            </li>

                                            <li><a class="dropdown-item" href="{% url 'delete-employee' employee.id %}">Delete</a>
                                            </li>

                                            <li><a class="dropdown-item" href="{% url 'details-employee' employee.id %}">View</a>
                                            </li>

                                            <li>
                                                <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#employee_{{ employee.id }}">
                                                    Inactivate
                                                </button>
                                            </li>

                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {%  if perms.employee.inactivate_employee %}
                            <!-- Modal -->
                            <div class="modal fade" id="employee_{{ employee.id }}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ employee }}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to deactivate {{ employee }} ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                No
                                            </button>
                                            <a href="{% url 'deactivate-employee' employee.id %}" class="btn btn-danger">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3 class="text-center">No employees</h3>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}