{% extends 'base.html' %}

{% block title %} Search {% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text"> Results: </h3>
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for employee in all_employees %}
                        <tr>
                            <td>{{ employee.first_name }}</td>
                            <td>{{ employee.last_name }}</td>
                            <td>{{ employee.age }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}