<header class="header">
    <a href="#" class="logo">Rise & Shine Beauty Salon</a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
        <a href="#home" style="--i:1" class="active">Home</a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Shop
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Coafura si frizerie</a></li>
                <li><a class="dropdown-item" href="#">Cosmetica</a></li>
                <li><a class="dropdown-item" href="#">Manichiura & Pedichiura</a></li>
                <li><a class="dropdown-item" href="#">Barber</a></li>
                <li><a class="dropdown-item" href="#">Abonamente & Vouchere</a></li>
                <li><a class="dropdown-item" href="#">Ustensile</a></li>
            </ul>
        </li>
        <a href="#programari" style="--i:3">Programari</a>
        <a href="#contact" style="--i:4">Contact</a>
        <a href="#login" style="--i:5">Login</a>
    </nav>
</header>