{% extends 'base.html' %}

{% block title %} Cart {% endblock %}

{% block content %}
<section>
    <div class="container">
        <div id="root">
            <div class="sidebar">
                <div class="head"><p>Cosul meu</p></div>
                <div id="cartItem">Your cart is empty</div>
                <div class="foot">
                    <h3>Total</h3>
                    <h2 id="total"></h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


